@import url('./main.css');

/* ============ About section ============ */
.about .about-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    justify-content: center;
    margin-top: 25px;
}
.about .about-box img{
    max-width: 500px;
    width: 100%;
    object-fit: cover;
}
.about .about-box .box{
    width: 100%;
    text-align: center;
}
.about .about-box .box h2{
    color: var(--color-secundario);
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 1rem;
}
.about .about-box .box p{
    color: var(--dark-color);
    line-height: 1.5;
    font-weight: 500;
    font-size: .9rem;
    text-align: justify;
}
.about .about-box .box .read-more{
    max-width: 250px;
    width: 100%;
    border: 2px solid var(--color-primario);
    outline: none;
    background-color: var(--color-secundario);
    color: var(--white-color);
    font-size: 1em;
    font-weight: 500;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    margin: 40px auto;
    border-radius: 10px;
    cursor: pointer;
}
.about .about-box .box .read-more i{
    font-size: 1.6em;
    transition: 0.3s ease;
    margin-right: 10px;
}
.about .about-box .box .read-more:hover .arrow{
    transform: translateX(5px);
}

/* PERSONAL CARDS */
.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: var(--white-color);
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.card-content{
    gap: 12px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-secundario);
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--color-secundario);
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: var(--white-color);
}

.card-image {
    position: relative;
    height: 320px;
    width: 230px;
    background: var(--white-color);
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 4px solid var(--color-secundario);
}

.name,
.card-content a {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-primario);
}

.description {
    font-size: 14px;
    color: var(--dark-color);
    text-align: center;
}

.swiper-navBtn {
    color: var(--color-primario);
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: var(--color-secundario);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: var(--color-primario);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-secundario);
}
