@import url('./main.css');

/* =============== Header =============== */
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
}

header.sticky .info {
    display: none;
}
header.sticky .navbar{
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
}

header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}

header .navbar {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.logo {
    display: inline-block;
    max-width: 100px;
    width: 100%;
    padding: 12px;
}

.logo img {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.navbar .item {
    padding: 8px;
    display: flex;
    gap: 12px;
}

.nav-close-btn,
.nav-menu-btn {
    display: none;
}

.navigation__info .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.navigation__info .nav-items .info-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navigation__info .nav-items .info-link i {
    background-color: var(--bg-icon);
    color: var(--bg-vector);
    border-radius: 50%;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    width: 100%;
}

.navigation .nav-items a,
.navigation__info .nav-items a {
    color: var(--white-color);
    font-size: 1rem;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.navigation .nav-items a {
    display: inline-block;
    padding: 20px 30px;
    background-color: var(--color-secundario);
    text-align: center;
    transition: background-color .3s;
}

.navigation .nav-items a:hover {
    background-color: var(--color-primario);
}

.navigation .nav-items .link-active {
    background-color: var(--color-primario);
}

.navigation .nav-items a i {
    display: none;
}

/* =============== Home =============== */
.home {
    min-height: 100vh;
}

.home::before {
    z-index: 888;
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent, var(--section-bg-color));
}

/* =============== Background slider =============== */
.bg-slider {
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.bg-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-slider .swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.swiper-slide .text-content {
    position: absolute;
    top: 25%;
    color: var(--white-color);
    margin: 0 200px;
    transition: 0.3s ease;
}

.swiper-slide .text-content .title {
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .title {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .title span {
    font-size: 0.3em;
    font-weight: 300;
}

.swiper-slide .text-content p {
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content p {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .botones {
    display: flex;
    gap: 15px;
}

.swiper-slide .text-content .botones .read-more {
    border: 2px solid var(--color-primario);
    outline: none;
    background-color: var(--color-secundario);
    color: var(--white-color);
    font-size: 1em;
    font-weight: 500;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(50px);
    opacity: 0;
}

.swiper-slide-active .text-content .botones .read-more {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .botones .read-more i {
    font-size: 1.6em;
    transition: 0.3s ease;
    margin-right: 10px;
}

.swiper-slide .text-content .botones .read-more:hover .arrow {
    transform: translateX(5px);
}

.dark-layer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-slider-thumbs {
    z-index: 777;
    position: absolute;
    bottom: 7em;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.thumbs-container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.thumbs-container img {
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.swiper-slide-thumb-active {
    border: 1px solid var(--white-color);
}

/* =============== Media icons =============== */
.media-icons {
    z-index: 999;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 90px;
}

.media-icons a {
    color: var(--white-color);
    font-size: 1.7em;
    margin: 10px 0;
}